
:root {
  // colors
  --gray1: #EAE9EF;
  --gray2: #F7F6FB;

  --black: #000;

  // sizes
  --distance-between-header-and-bottomscreen: 45px;
  --header-height: min(calc(100vh - var(--distance-between-header-and-bottomscreen)), 892px);
}
